<div
  style="background-image: url('/assets/img/campus-uc.jpg'); width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center;">

  <div style="padding-left: 3rem; display: flex; align-items: center; height: 100%;">
    <div style="width: 400px;">
      <div
        style="background-color: #fff; display: flex; justify-content: center; align-items: center; padding: 1rem 0; border-top-left-radius: 5px; border-top-right-radius: 5px;">
        <img src="/assets/img/logo-horizontal-black.svg" alt="" srcset="">
      </div>

      <div
        style="background-color: rgba(33,35,34,.3); font-size: 2rem; text-align: center; color: #fff; padding: 1rem 0;">
        Soluciones PTA
      </div>

      <div style="background-color: rgba(33,35,34,.3);height: 1px; padding: 0 1rem">
        <div style="background-color: #fff; height: 100%;">
        </div>
      </div>

      <div style="background-color: rgba(33,35,34,.3);">

        <div style="padding: 1rem;">
          <mat-card class="mat-elevation-z10">
            <mat-card-content>

              <form [formGroup]="doorForm" style="display: flex; flex-direction: column; gap: 1em;">
                <mat-form-field style="text-transform: uppercase;">
                  <mat-label>Sede</mat-label>
                  <mat-select formControlName="campus" [errorStateMatcher]="matcher" (selectionChange)="getLevel()">
                    <mat-option [value]="option" *ngFor="let option of campusList">
                      {{ option.description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="text-transform: uppercase;">
                  <mat-label>Nivel</mat-label>
                  <mat-select formControlName="level" [errorStateMatcher]="matcher">
                    <mat-option [value]="option" *ngFor="let option of levelList">
                      {{ option.description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="text-transform: uppercase;">
                  <mat-label>Tipo de puerta</mat-label>
                  <mat-select formControlName="type" [errorStateMatcher]="matcher">
                    <mat-option [value]="option" *ngFor="let option of doorTypeList">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>

            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>

        <div style="padding: 0 1rem 1rem 1rem">
          <button mat-raised-button (click)="init()" style="width: 100%; text-transform: uppercase;">
            Comenzar
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
