// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$pta-brand-primary: (Main: #6802C1,
  Ligth: #6802C1,
  Dark: #6802C1,
  contrast: (Main: #fff,
    Ligth: #6802C1,
    Dark: #6802C1));
$pta-brand-accent: (Main: #FF521D,
  Ligth: #FF521D,
  Dark: #FF521D,
  contrast: (Main: #fff,
    Ligth: #FF521D,
    Dark: #FF521D));
$pta-brand-warn: (Main: #EA0303,
  Ligth: #EA0303,
  Dark: #EA0303,
  contrast: (Main: #fff,
    Ligth: #EA0303,
    Dark: #EA0303));

$pta-frontend-primary: mat.define-palette($pta-brand-primary, Main, Ligth, Dark);
$pta-frontend-accent: mat.define-palette($pta-brand-accent, Main, Ligth, Dark);
$pta-frontend-warn: mat.define-palette($pta-brand-warn, Main, Ligth, Dark);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pta-frontend-theme: mat.define-light-theme((color: (primary: $pta-frontend-primary,
      accent: $pta-frontend-accent,
      warn: $pta-frontend-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pta-frontend-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: neue-plak-regular;
  src: url('assets/fonts/Neue\ Plak\ Narrow\ Regular.ttf');
}

@font-face {
  font-family: neue-plak-ligth;
  src: url('assets/fonts/Neue\ Plak\ Light.ttf');
}

@font-face {
  font-family: neue-plak-semibold;
  src: url('assets/fonts/Neue\ Plak\ SemiBold.ttf');
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: neue-plak-semibold);

@include mat-core($custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  // font-family: neue-plak-semibold;
  font-size: 1.1rem;
}
